<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="lib/chessboardjs/css/chessboard-0.3.0.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../style.css">
    <title>King Chess</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"/>
    <link rel="icon" type="image/png" href="../images/favicon.png"/>
</head>
<body class="bg">
<div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <div class="row">
            <h1 class='txtdeepshadow'><b style="color: yellow;">King</b> <b>Chess</b></h1>
        </div>
        <div class="row">
            <div id="board" class="board"></div>
        </div>
      </div>
      <div class="col-sm">
            &nbsp;
          <form action="./">
            <button class="punch" type="submit"><i class="fas fa-arrow-left"></i> Back</button>
        </form>
      </div>
    </div>
</div>
<div style="display: none;">
  <audio autoplay="" controls="" loop="" preload="">
  <source src="./images/1.mp3" type="audio/mpeg">
</audio>
</div>
<script src="lib/jquery/jquery-3.2.1.min.js"></script>
<script src="lib/chessboardjs/js/chess.js"></script>
<script src="lib/chessboardjs/js/chessboard-0.3.0.js"></script>
<script src="script.js"></script>
<script>

</script>
</body>
</html>