<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./static/js/chessboardjs/css/chessboard-0.3.0.css">
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div id="board" style="width: 400px"></div>
    <!-- <script src="static/js/jquery/jquery-3.2.1.min.js"></script> -->
    <script src="./static/js/chessboardjs/js/chess.js"></script>
    <script src="./static/js/chessboardjs/js/chessboard-0.3.0.js"></script>
    <script type="module" src="./static/js/socket/socket.js"></script>
    <b id="colorGo">Mau trang di</b>
</body>